.carrusel {
  margin: 2rem 0;
  overflow: hidden;
}

.carrusel__titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #a5fdf9;
  text-align: center;
  padding-left: 0.5rem;
}

.carrusel__contenedor {
  display: flex;
  overflow-x: hidden; /* Oculta scroll nativo */
  position: relative;
  padding: 0;
  width: 100%; /* Ancho máximo del carrusel */
  margin: 0; /* Centra el carrusel */
  padding: 1rem 0; /* Espacio alrededor del carrusel */
}

.carrusel__lista {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  animation: carrusel-loop 15s linear infinite;
}

@keyframes carrusel-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Recorrido de mitad duplicada */
}

.carrusel__item {
  flex: 0 0 auto;
  width: 15.5%; /* 100 / 8 = 12.5 */ /* Muestra 8 ítems exactos */
  max-width: 180px;
  height: 260px;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.carrusel__item img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
}

.carrusel__poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.carrusel__poster:hover {
  animation: rebote 0.5s ease;
  transform-origin: center;
}

@keyframes rebote {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  65% {
    transform: scale(0.97);
  }
  85% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.carrusel__favorito {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: #d0ff00;
  font-size: 1.8rem;
  border: 1px solid #f84600;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.3s ease;
  z-index: 2;
}

.carrusel__favorito:hover {
  background: #f87800;
  color: #000;
  transform: scale(1.2);
}

.carrusel__mensaje {
  color: #bbb;
  padding-left: 1rem;
}
